@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom tailwind component */
@layer components{
    .animate-rotate{
        animation: rotate 5s infinite
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* Main body */
body{
    @apply bg-gray-900 text-white font-sans;
}

#app{
    height: 100%
}

.rotate-180 {
    transform: rotate(180deg);
}

/* Images and icons */
#profile-image{
    position: absolute;
    top: 3vh;
    left: 65vw;
    transform: translateX(10%);
    transition: all 0.5s ease-in-out;
}

.icon-div{
    @apply flex
}

.contact-icon{

    @apply w-10 h-10 shadow-md;
    transform:translateX(-150%);
    transition: all 0.5 ease-in-out;
}

.contact-link{
    @apply text-blue-500  cursor-pointer p-2
}

/* Containers and QR */

#contact-container{
    transition: all .7s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

#qr-container{
    @apply mx-auto relative -z-10 w-full bg-slate-900 rounded-xl;
    transform: scale(0);
    transition: all .5s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
#qr-container.show{
    transform: scale(1);
}

/* SVG  */
#qr-container > svg:nth-child(1){
    border-radius: 10px;
}
#qr-container > svg:nth-child(1) > path:nth-child(1){
    fill: #e4eefc70;
}





/* Shitton of animation stuff below */


#flip {
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    transition: transform 0.3s ease-in-out; 
}

.drop-in {
    transform: translateY(-50%);
    opacity: 0;
    transition: transform 0.6s cubic-bezier(0.5, 1.5, 0.5, 1), opacity 0.6s ease; 
}
.drop-in.show {
    transform: translateY(0); 
    opacity: 1; 
}


/* Hand emoji */
/* Wave Animation */
.wave-animation {
    display: inline-block; 
    animation: fadeIn .2s ease-in, wave 2s infinite; 
}

@keyframes wave {
    0%, 100% {
    
        transform: rotate(0deg); 
    }
    25% {
        transform: rotate(20deg); 
    }
    50% {
        transform: rotate(-40deg); 
    }
    75% {
        transform: rotate(5deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; 
    }
}

/* Profile image */
.slide-in-left{
    animation: slide-in-left 0.5s ease forwards;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(150%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}

/* Profile image */
.slide-in-right{
    animation: slide-in-right 0.5s ease forwards;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(-100%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}

.move-down {
    animation: move-down 1s forwards cubic-bezier(0.4, 0, 0.2, 1); 
    position: absolute;
}

@keyframes move-down {
    0% {
        transform: translateY(44vh); 
    }

    100% {
        transform: translateY(60vh);

    }
}


/* sequence 2 fadeout */
.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards; 
}

@keyframes fadeOut {
    0% {
        opacity: 1; /* Fully visible */
    }
    100% {
        opacity: 0; /* Fully transparent */
    }
}

.glow-container.start{
    @apply mx-auto flex w-full max-w-lg items-center justify-center
}

.outer-glow.start{
    @apply relative z-10 flex w-full cursor-pointer items-center overflow-hidden rounded-xl border border-slate-800 p-[2px]

}


.animate-glow.start{
    @apply animate-rotate absolute inset-0 h-full w-full rounded-full bg-[conic-gradient(#E2F5FF_20deg,transparent_120deg)] 
}

.inner-glow.start{
    @apply relative z-20 flex w-full rounded-[0.60rem] bg-slate-900;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg) scale(10);
    }
    100%{
        transform: rotate(-360deg) scale(10);
    }
}

.pulse-glow {
    animation: pulse-glow 2s infinite; 
}

@keyframes pulse-glow {
    0%, 100% {
        box-shadow: 0 0 0 rgba(226, 245, 255, 0.7); 
    }
    50% {
        box-shadow: 0 0 10px rgba(226, 245, 255, 1); 
    }
}

